<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
</head>
<body><!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>weather app</title>
 {{>headerlink}}  
</head>

<body>
 
{{>navbar}}

<section>
  <div class="overflow mx-5">
    <div class="container">
    <div>
      <img src="images/weather.jpg" width="350" alt="...">
    </div>
</div>
</div>
    <div class="about_box">
        <p class="about_welcome">Welcome to weather app</p>
        <h6 class="about_text">This app is completely design to check the <span> latest weather information </span><br> of any city.
            Here you can easily check current weather information <br>by <span> just entering the name of city</span> in weather
          search field.</h6>
        <a href="/weather"><button class="btn mt-3">Check now</button></a>
    </div>
</section>

{{>footer}}    
</body>
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</html>
    
</body>
</html>